bazel-*
*_env
**/*_env
node_modules
**/node_modules
*.db
**/*.db
*.sqlite3
**/*.sqlite3
.secrets.env
*.pyc
**/*.pyc
__pycachce__
**/__pycachce__
target/
dist/

.webpack
.secrets.env
.secret*
.secrets*
.infra/
.infra/*
.infra/**

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

target/
target/**

.aspect
target
**/target
target/
dist
**/dist
dist/

dev_manifests/
temp_manifests/
postgres.db/
**/postgres.db
postgres.db/**
rabbitmq.db/
**/rabbitmq.db
rabbitmq.db/**
redis.db/
**/redis.db
redis.db/**
rabbitmq.log/
**/rabbitmq.log
rabbitmq.log/**

.scrapy
**/.scrapy

_tmp*
**/_tmp*
**/_tmp*/**
lib/
lib/**
